* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.landen {
    height: 100vh;
    width: 100%;
    background-image: url(./img/BACKGROUND.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f95b00;
    transition: .4s;
}

.btn {
    background-color: #f95b00;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.1);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color:#fff;
    margin: 20px 0px 20px;
    font-size: 65px;
}

h1 span {
    color: #f9004d;
}

h3 {
    color:#fff;
    font-size: 25px;
    margin-bottom: 25px;
}

.contact-form form {
    width: 300px;
    max-width: 100%;
    position: relative;
}

.contact-form form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.contact-form form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: #fff;
    top: 6px;
    right: 6px;
}

/* About Me Section */
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #232323;
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: #fff;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text span {
    color: #f9004d;
}

.about-text p {
    color: #fefe;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* Projects Section */
.projects {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: #fff;
    font-size: 65px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(177, 177, 177, 0.2);
}

.card h5 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fefe;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .project-button {
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: transform .4s;
}

.card .project-button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.project-card {
    position: relative;
}

.overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.9);
    color: white;
    padding: 20px;
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width if desired */
    border-radius: 15px;
    z-index: 1;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.carousel {
    display: flex;
    overflow: hidden;
}

.carousel img {
    max-width: 100%;
    height: auto;
    transition: transform .3s ease-in-out;
}

.carousel img:not(:first-child) {
    margin-left: -100%;
}

/* Services Section */
.service-section {
    width: 100%;
    height: auto;
    padding: 70px 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191919;
}

.service-section h2 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-section p {
    color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 60px 40px;
}

.service-card {
    padding: 40px;
    background-color: #101010;
    color: #fff;
    border-radius: 3px;
    border-top-right-radius: 50px;
    position: relative;
}

.service-card h2 {
    font-size: 20px;
    margin: 10px 0 15px 0;
}

.service-card p {
    font-size: 13px;
    opacity: .8;
}

.service-card .logo {
    width: 70px;
    height: 50px;
    background-color: #fff;
    color: #161616;
    border-radius: 3px;
    display: grid;
    place-items: center;
    font-size: 53px;
    position: absolute;
    top: 0;
    left: 30px;
    transform: translateY(-50%);
}

.service-card:hover {
    box-shadow: 0 8px 16px 0 rgba(48, 48, 48,.8);
}

/* Contact Section */
.contact-me {
    width: 100%;
    height: 290px;
    background: #101010;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .contact-button {
    background-color: #f61059;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: transform .4s;
}

.contact-me .contact-button:hover {
    background-color: transparent;
    border: 2px solid #f61059;
    cursor: pointer;
}
